<div class = "div-center"  style="margin-top:50px;margin-left:500px;margin-right:500px;">

  
  <div class="border border-info" style="width:450px;height:315px;border-radius:5px;box-shadow:rgb(28, 175, 168) 5px 10px 8px 10px;">
    <div class="card-body">
     
      <p class="card-text" class="rounded"></p>
        <h4 class="text-center" style="margin-top:-20px;"> Feel Free to Contact us</h4>

        <p class="font-weight-bold">Email ID:</p>
                <p style="margin-left:70px;">qwerty@outlook.com</p>
        
                <p style="margin-left:70px;">qwerty@gmail.com</p>
        
       <p class="font-weight-bold">Phone Numbers:</p>
                <p style="margin-left:70px;">+91-9875878586</p>
        
                <p style="margin-left:70px;">+91-7654456788</p>
    </div>
  


</div>