
<div class="card-group" style="margin-top:50px;margin-left:125px;margin-right:125px;">
    <div class="card" style="border-radius:5px;">
      <img src="https://image.shutterstock.com/image-photo/portrait-beautiful-smiling-young-brunette-260nw-645213259.jpg" 
      class="card-img-top" alt="Image not found" style="width:340px;margin-right:15px;margin-left:15px;">
      <div class="card-body">
        <h5 class="card-title">Marcinjozwiak</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facilis tempore reprehenderit quis modi suscipit vel ducimus ex fugit minus adipisci?</p>
      </div>
    </div>

    <div class="card" style="border-radius:5px;">
      <img src="https://image.shutterstock.com/image-photo/side-view-young-business-woman-260nw-579867070.jpg" 
      class="card-img-top" alt="Image not found" style="width:340px;margin-right:15px;margin-left:15px;">
      <div class="card-body">
        <h5 class="card-title">Jonas Semolina</h5>
        <p class="card-text">It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>
      </div>
    </div>

    <div class="card" style="border-radius:5px;">
      <img src="https://image.shutterstock.com/image-photo/back-view-woman-freelancer-working-260nw-380016169.jpg" 
      class="card-img-top" alt="Image not found" style="width:340px;margin-right:15px;margin-left:15px;">
      <div class="card-body">
        <h5 class="card-title">Samantha James</h5>
        <p class="card-text">Little markup and styles as possible, but still a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other.</p>
      </div>
    </div>
  </div>
  
  