<div class = "div-center"  style="margin-top:50px;margin-left:350px;margin-right:350px;">
    <div class = "content">
        <h4 style="margin-bottom:-15px;">Please Register!!!</h4>
        <hr/>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">First and last name</span>
    </div>
    <input type="text" aria-label="First name" class="form-control" placeholder="First Name">
    <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" 
    aria-describedby="inputGroup-sizing-default" placeholder="Enter Email Address">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">DOB</span>
    </div>
    <input type="date" class="form-control" aria-label="Sizing example input" 
    aria-describedby="inputGroup-sizing-default" placeholder="mm/dd/yyyy">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" 
    aria-describedby="inputGroup-sizing-default" placeholder="Enter Password">
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons" style="float: right;" >
        
    <input class="btn btn-outline-dark" type="reset" value="Reset">
  
    <input  class="btn btn-outline-primary"type="submit" value="Submit">

  
</div>
  
  </div>
 </div>